{% extends "_layouts/default.html.twig" %}

{% import("_includes/macros.html.twig") as macros %}

{% block meta_description_tag %}
<meta name="description" content="Mark Fisher is an amateur landscape and nature photographer from the UK. Whether he is looking for relaxation, invigoration or mental stimulation, he turns to the natural world to find it."/>
{% endblock %}

{% block content %}
<div class="container">

    <div class="inner-container">
        <div class="masonry_wall">
            {% for photo in favourite_photos %}
                <a href="/{{ photo.Gallery }}/{{ photo.SpecialInstructions }}"
                   {% if photo.ImageAspectRatioIdentifier != "invalid" %}class="masonry_brick masonry_brick_{{ photo.ImageAspectRatioIdentifier }}"{% endif %}
                    {% if photo.css_grid_row_span is defined %}style="grid-row: auto/span {{ photo.css_grid_row_span }}; height: {{ photo.css_grid_row_span }}px"{% endif %}
                    aria-label="See more information about the photo &ldquo;{{ photo.Title }}&rdquo;"
                >
                    {{ macros.picture((photo.SpecialInstructions), (photo.CaptionAbstract), "w200", (photo.ImageAspectRatio)) }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
